.destinations{
  margin-top: 30px;
}

.country { 
	fill: #E8E8E8; 
	stroke: black;
	stroke-width: 1px;
}

.arc {
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.cityLabel {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}