.country { 
	fill: #00A2CC; 
	stroke: black;
	stroke-width: 1px;
	stroke-dasharray: 1,1;
}

.arc {
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.cityLabel {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}