<div class="container destinations">
	<div class="row">
		<div class="col-md-9 col-xs-12">
			<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3 class="panel-title">Vista global</h3>
	            </div>
	            <div class="panel-body">
	           		<div id="world-map"/>
	        	</div>
	        </div>
	    </div>
		<div class="col-md-3 col-xs-12">
			<div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3 class="panel-title">Destinos encontrados en:</h3>
	            </div>
	           		<ul class="list-group panel-body">
						<li class="list-group-item" ng-repeat="city in cities | unique:'countryName'">{{city.countryName}}</li>
					</ul>

	        </div>
		</div>
	</div>
</div>