<div id="cbp-so-scroller" class="cbp-so-scroller">
	<section class="cbp-so-section cbp-so-section-dark">
		<article class="cbp-so-side cbp-so-side-left">
			<h2>Donde serán tus próximas vacaciones?</h2>
			<p>Solo dinos de cuanto dinero dispones y nos encargaremos del resto.</p>
		</article>
		<fieldset class="cbp-so-side cbp-so-side-right">
			<input type="text" class="maxMoney" placeholder="Hasta (ARS)"></input>
			<input type="text" class="origin" placeholder="Lugar de Origen"></input>
			<input type="text" class="date" placeholder="Desde"></input>
			<input type="text" class="date" placeholder="Hasta"></input>
			<input type="button" class="search" value="Buscar Destinos"></input>
		</fieldset>
	</section>

	<section class="cbp-so-section">
		<figure class="cbp-so-side cbp-so-side-left">
			<img src="../images/flights.jpg" alt="flights">
		</figure>
		<article class="cbp-so-side cbp-so-side-right">
			<h2><a href="#/flights">Ver ofertas</a></h2>
			<p>Todas las ofertas de vuelos disponibles.</p>
		</article>
	</section>
</div>