<div class="container">
  <section id="main-list">
    <div id="fl-vm" class="fl-vm-switcher" ng-class="viewMode">
      <div class="fl-vm-options">
        <a ng-click="viewMode='fl-vm-view-grid';viewSelected='grid'" class="fl-vm-icon fl-vm-grid" ng-class="getSelected('grid')">Grid View</a>
        <a ng-click="viewMode='fl-vm-view-list';viewSelected='list'" class="fl-vm-icon fl-vm-list" ng-class="getSelected('list')">List View</a>
      </div>

      <ul>
        <li ng-repeat="flight in flights">
          <h3 class="fl-vm-title"><i class="fa fa-plane"></i>{{flight.from}}</h3>
          <h3 class="fl-vm-title"><i class="fa fa-plane fa-flip-vertical"></i>{{flight.to}}</h3>
          <div class="fl-vm-price">{{flight.price}}</div>
          <div class="fl-vm-tax">{{flight.taxIncluded?'35% Afip incluído.':'35% Afip no incluído.'}}</div>
          <div class="fl-vm-airline"><strong>Aerolinea:</strong> {{flight.airline}}</div>
          <div class="fl-vm-details">Válido desde el {{flight.validFrom}} hasta el {{flight.validUpTo}}.</div>
          <a class="fl-vm-icon fl-vm-add" href="#">Ver detalles</a>
        </li>
      </ul>
    </div>
  </section>
</div>